<html>
<body>
<h1>
    Escoje Formulario</h1>
<br />
<select id='formDropDown' style='width: 300px;'>
    <option value='51b95c19bc3a6d8fb6000001'>AAA Municipality Contract</option>
    <option value='51b95c81bc3a6dd4e4000009'>AAE Municipality Contract</option>
    <option value='51b95c98bc3a6ddc38000011'>OGP Municipality Contract</option>
    <option value='51b9787c623d33c542000001'>wjhewgjfh</option>
    <option value='51b9815d623d338ccd00000a'>sdasdf</option>
    <option value='51b984d9c048fb2ece000001'>CACA YEAH 1</option>
    <option value='51b984f8c048fb447e000005'>yoyoyoyo</option>
    <option value='51b98d7a138b48e295000001'>fdfdsf</option>
 </select>
 </body>
 </html>